.primaryFont{
    font-family: "Bitter", serif;
}

.secondaryFont{
    font-family: "Angkor", serif;
}

:root{
    --dark-grey: #212529ed;
    --white: #a8aec1;
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

.bg-mywhite{
    background-color: var(--white);
}

.text-mywhite{
    color: var(--white);
}

body{
    background-color: var(--white);
}

.nav-item{
    list-style-type: none;
}

.navbar{
    background-color: var(--dark-grey);
}

h1{
    letter-spacing: 10px;
}

.h1-img{
    background-image: url(./media/giornale.jpeg);
}

.cardBody{
    border-radius: 10px;
    height: 550px;
    width: 400px;
}

.card-image{
    height: 16rem;
    width: 17rem;
    padding-left: 1px;
    padding-right: 0px;
    border-radius: 5px;
    
}

.button-30 {
    color: var(--white);
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(124, 88, 201, 0.4) 0 2px 4px,rgba(105, 89, 138, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    font-size: 18px;
}

.button-30:hover{
    color: grey;
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
<<<<<<< HEAD
    background-color: #35b1f5;
=======
    background-color: #18272F;
>>>>>>> e286bb68dca10e0a538e5686cc04b7e9f4b5eb38
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
<<<<<<< HEAD
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
=======
    }

    a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    }
>>>>>>> e286bb68dca10e0a538e5686cc04b7e9f4b5eb38
