/* FONT */
.primaryFont{
    font-family: "Bitter", serif;
}

.secondaryFont{
    font-family: "Angkor", serif;
}
/* COLORI */
:root{
    --dark-grey: #3c4650eb;
    --white: #a8aec1;
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

.bg-mywhite{
    background-color: var(--white);
}

.text-mywhite{
    color: var(--white);
}
/* BCKGROUND */
body{
    background: linear-gradient(180deg,rgba(218, 212, 212, 0.391),rgba(170, 162, 162, 0.232)), url(./media/giornali.jpg);
}

.bg-container{
background: linear-gradient(180deg,rgba(99, 79, 79, 0.445),rgba(32, 31, 31, 0.5)), url(./media/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
}
/* NAVBAR */
.navbar{
    background-image: linear-gradient(180deg,rgba(77, 74, 74, 0.452),rgba(0, 0, 0, 0.473)),url(./media/scott-webb-UjupleczBOY-unsplash.jpg);
}

.nav-item{
    list-style-type: none;
}

.data{
    padding-right: 0px;
}
/* HEADER */
h1{
    letter-spacing: 10px;
}

.h1-img{
    background-image: linear-gradient(180deg,rgba(77, 74, 74, 0.452),rgba(0, 0, 0, 0.473)),url(./media/scott-webb-UjupleczBOY-unsplash.jpg);
}
/* CARD */
.cardBody{
    height: 510px;
    width: 350px;
    border: 0;
    transform: scale(1);
    transition: 0.5s ease;
}

.cardBody:hover{
    transform: scale(1.04);
}

.card-img{
    height: 300px;
    width: 350px;
}

.bgcard{
    background-color: rgb(120, 120, 125);
}
/* BUTTON */
.button-30 {
    text-decoration: none;
    color: var(--white);
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(141, 139, 146, 0.4) 0 2px 4px,rgba(105, 89, 138, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    font-size: 18px;
}

.button-30:hover{
    color: rgb(230, 223, 223);
}

.button-30::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #222121;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .4s ease;
}

.button-30:hover::after {
    transform: scaleX(1);
}
a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #222121;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .4s ease;
}

a:hover::after {
    transform: scaleX(1);
}
/* FORM */
.form-box{
    position: relative;
    width: 600px;
height: 650px;
background: transparent;
border: 2px solid rgba(0, 0, 0, 0.856);
border-radius: 20px;
backdrop-filter: blur(15px);
display: flex;
justify-content: center;
}

input:focus ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    background-color: rgb(241, 243, 243);
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}