.primaryFont{
    font-family: "Bitter", serif;
}

.secondaryFont{
    font-family: "Angkor", serif;
}

:root{
--dark-grey: #212529ed;
--white: #dee2e6;
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

.bg-mywhite{
    background-color: var(--white);
}

.text-dark-grey{
    color: var(--dark-grey);
}

.text-mywhite{
    color: var(--white);
}

body{
    background-color: var(--white);
}

.nav-item{
    list-style-type: none;
}

.navbar{
    width: auto;
    background-color: var(--dark-grey);
    margin-bottom: 5px;
    color: var(--white);
}

h1{
    letter-spacing: 10px;
}

.h1-img{
    background-image: url(./media/giornale.jpeg);
}

.cardBody{
    border-radius: 10px;
    height: 30rem;
}

.card-image{
    height: 16rem;
}

.card-btn{
background-color: var(--dark-grey);
}